.login_register-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.login_register-page .login_register-form .login_register-content{
    margin-top: -31px;
    margin-bottom: 26px;
}
.login_register-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login_register-form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
#login_button{
    outline: 0;
    background-color: lightcyan;
    background-image: linear-gradient(45deg, rgb(204, 254, 254),lightskyblue);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
  
.register_message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.register_message a {
    color: rgb(15, 116, 179);
    text-decoration: none;
}
.registration_error_message {
    margin: 15px 0 0;
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
    /* background-color: #3e3e3e; */
}
  
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
  
body {
    background-image: linear-gradient(-45deg, lightskyblue, rgb(204, 254, 254));
}